* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body 
{
  margin: auto;
  width: 90%;
  height: auto;
  background: #cad2c5;
  color: #2f3e46;
}

#container 
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: auto;

}

ul
{
  list-style: none;
}

a 
{
  padding: 5px;
  text-decoration: none;
  color: #cad2c5;
}

aside
{
  width: 15%;
  height: auto;
  padding-top: 50px;
  background: #84a98c;
}

aside a 
{
  color: #2f3e46;
}

#lista-desplazable
{
  margin: auto;
  position: sticky;
  top: 50px;
}

li 
{
  text-decoration: none;
}

header 
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: #354f52;
  color: #cad2c5;
}

#div-logo
{
  width: 25%;
  height: auto;
}

#foto-logo {
  width: 150px;
  height: 150px;
  padding: 10px;
}

#title
{
  width: 75%;
  height: auto;
}

h1
{
  font-size: 48px;
  font-weight: bold;
}

nav
{
  padding: 10px;
  display: flex;
  justify-content: end;
  width: 100%;
  height: auto;
  background: #354f52;
}

main{
  width: 85%;
  height: auto;
}

h2{
  padding: 10px;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
  color: #ff5722;
}

p {
display: flex;
  padding: 10px 10px 20px 10px;
}

.div-subtitulos {
  width: 100%;
  height: 150px;
  background: #2f3e46;
}

.contenedor-articulo
{
  padding: 10px 10px 20px 10px;
  display: flex;
  flex-direction: row;
}

.fotos
{
  width: 200px;
  height: 200px;
  margin: 5px;
}

#tarjetas
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background: blueviolet;
}

.tarjeta
{
  margin: 10px;
  background: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px;
}

.foto-tarjeta
{
  display: inline-block;
  width: 200px;
  height: 200px;
}

.parrafo-tarjeta
{
  background: red;
  display: inline-block;
  width: 250px;
  height: 250px;
}

#sobre-mi {
  background-image: url("/img/sobremi.jpeg");
  background-size: cover;
}

#proyectos {
  background-image: url("/img/proyectos.jpeg");
  background-size: cover;

}

#tecnologias {
  background-image: url("/img/tecnologias.jpeg");
  background-size: cover;
}

#peliculas {
  background-image: url("/img/viaje.jpeg");
  background-size: cover;
}

#zona-peliculas
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#zona-peliculas h2 
{
  color: orangered;
}

.contenedor-peliculas
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer{
  width: 100%;
  height: 50px;
  background-color: black;
}

@media (min-width: 650px) and (max-width: 880px)
{
  aside
  {
    display: none;
  }

  main
  {
    width: 100%;
  }
}

@media (max-width:649px) 
{
  header
  {
  flex-direction: column;
  }

  aside
  {
    display: none;
  }

  main
  {
    width: 100%;
  }
}